.lark-listing.accordion, .lark-listing.accordion ul {
    padding : 0;
    background: #343a40; 
}


.lark-listing.accordion ul a {
    padding: 10px 15px 10px 30px;
}

.lark-listing.accordion ul ul a {
    padding: 10px 15px 10px 45px;
}



.lark-listing a {
    display: block;
    padding: 13px 15px; 
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
}

