.lark-listing, .lark-listing ul {
    margin: 0;
    list-style: none;
/*    background: #343a40; */
}

.lark-listing  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.lark-listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*
.lark-listing li + li {
  margin-top: 5px;
}

.lark-listing li:first-child {
  margin-top: 5px;
}
.lark-listing li:last-child {
  margin-bottom: 5px;
}
*/

.lark-listing .arrow {
  float: right;
  line-height: 1.42857;
}
*[dir="rtl"] .lark-listing .arrow {
  float: left;
}

.lark-listing a:hover,
.lark-listing a:focus,
.lark-listing a:active {
    color: #f8f9fa;
    text-decoration: none;
    background: #0b7285;
}


/*---*/
.lark-listing .mm-collapse:not(.mm-show) {
  display: none;
}

.lark-listing .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility;
}

.lark-listing .has-arrow {
  position: relative;
}

.lark-listing .has-arrow::after {
  position: absolute;
  content: '';
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  transition: all .3s ease-out;
}

*[dir="rtl"] .lark-listing .has-arrow::after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
}

.lark-listing .active > .has-arrow::after,
.lark-listing .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

*[dir="rtl"] .lark-listing .active > .has-arrow::after,
*[dir="rtl"] .lark-listing .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(225deg) translate(0, -50%);
  transform: rotate(225deg) translate(0, -50%);
}
